doctype html

html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
		script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')

	body
		<a href="/expenses">Expenses</a> | 
		<a href="/income">Income</a> | 
		<a href="/categories">Categories</a>
		
		block content
